@font-face {
  font-family: 'Demora';
  src: url('./Demora-w1Wr6.otf');
  font-weight: 400;
  font-style: normal;
}

html {
  background-image: url("sci-fi-bg-rotate-90.jpg");
  background-size: cover;
}

#content {
  display: grid;
  justify-items: center;
  gap: 30px;
  font-family: 'Demora';
  padding: 20px;
  /* max-width: 600px; */
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  border: 3px solid #f6c6af;
}

h1 {
  font-size: 60px;
  margin: 0;
}

p {
  font-size: 24px;
}

