@font-face {
  font-family: 'Demora';
  src: url('./Demora-w1Wr6.otf');
  font-weight: 400;
  font-style: normal;
}

html {
  background: url("sci-fi-bg-rotate-90.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  width: 100%;
  margin: 0;
}

#content {
  display: grid;
  justify-items: center;
  gap: 30px;
  font-family: 'Demora';
  padding: 20px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  border: 3px solid #f6c6af;
  width: 600px;
  text-align: center;
}

#navbar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
  padding: 0;
  margin-bottom: 10px;
  gap: 10px;
}

#navbar div {
  padding: 15px;
  border-left: 2px solid #f6c6af;
  border-right: 2px solid #f6c6af;
  border-bottom: 2px solid #f6c6af;
  border-radius: 10px;
}

#navbar div:hover {
  cursor: pointer;
  background: #c75575;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
}

p {
  font-size: 24px;
}

.menu-subtitle {
  width: 50%;
}

.menu-item {
  display: grid;
  background: rgba(115, 50, 89, 0.7);
}

.menu-item h3 {
  justify-self: start;
  font-size: 38px;
  margin: 0;
  Padding: 10px;

}

.img-container {
  /* width: 300px;
  height: 300px; */
  max-width: 300px;
  max-height: 300px;
  justify-self: end;
  text-align: end;
  padding: 15px;
  
}

.img-container>img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}